<h2>日幣匯率</h2>
<hr>
<table class="table">
  <thead>
    <tr>
      <td>銀行</td> 
      <td>現金買入</td>
      <td>現金賣出</td>
      <td>即期買入</td>
      <td>即期賣出</td>
    </tr>
  </thead>
  <tbody>
    <% @japanrates.each do |rate| %>
      <tr>
      <% @doc = Nokogiri::HTML(open(rate.url)) %>
      <% @price1 = @doc.at_css("#{rate.cashrate_buy}").text[/[0-9\.]+/] %>
      <% @price2 = @doc.at_css("#{rate.cashrate_sell}").text %>
      <% @price3 = @doc.at_css("#{rate.sightrate_buy}").text %>
      <% @price4 = @doc.at_css("#{rate.sightrate_sell}").text %>
      
        <td><%= rate.bank %></td>
        <td><%= @price1 %></td>
        <td><%= @price2 %></td>
        <td><%= @price3 %></td>
        <td><%= @price4 %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>