<table>
  <thead>
    <tr>
      <td>國籍</td> 
      <td>現金買入</td>
      <td>現金賣出</td>
      <td>即期買入</td>
      <td>即期賣出</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @title %></td>
      <td><%= @price1 %></td>
      <td><%= @price2 %></td>
      <td><%= @price3 %></td>
      <td><%= @price4 %></td>
    </tr>
    <tr>
      <td><%= @title %></td>
      <td><%= @cprice1 %></td>
      <td><%= @cprice2 %></td>
      <td><%= @cprice3 %></td>
      <td><%= @cprice4 %></td>
    </tr>
  </tbody>
  <tr>
    <td></td>
  </tr>
</table>