<%= simple_form_for [:admin ,@trip, @event] do |f| %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.input :title, label: '行程名稱', input_html: { class: 'form-control' } %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.input :url, label: '參考網站', input_html: { class: 'form-control' } %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.input :color, label: '標記顏色', :selected => 1, 
          collection: [ 
            ['紅色', 'red'],
            ['綠色', 'green'],
            ['橘色', 'orange'],
            ['藍色', 'lightskyblue'],
            ['黃色', 'yellow']
            ], input_html: { class: 'form-control' } %>
      </div>
    </div> 
  </div>
  <div class="row">
    <%= render 'common/datetimepicker' %>
    <div class="col-md-6">
      <div class="form-group"><%= f.input :start_day, label: '行程開始時間', as: :string, input_html: { class: "datepicker form-control" } %></div>
    </div>
    <div class="col-md-6">
      <div class="form-group"><%= f.input :end_day, label: '行程結束時間', as: :string, input_html: { class: "datepicker form-control"} %></div> 
    </div> 
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12 text-center">
      <%= f.button :submit, "儲存", class: "btn btn-primary" , data: { disable_with: "資料送出..." } %>
    </div>
  </div>
<% end %>
