<h2>編輯匯率</h2>
<hr>
<%= simple_form_for [:admin, @japanrate] do |f| %>
  <div class="form-group">
    <%= f.input :bank %>
  </div>
  <div class="form-group">
    <%= f.input :url %>
  </div>
  <div class="form-group">
    <%= f.input :cashrate_buy %>
  </div>
  <div class="form-group">
    <%= f.input :cashrate_sell %>
  </div>
  <div class="form-group">
    <%= f.input :sightrate_buy %>
  </div>
  <div class="form-group">
    <%= f.input :sightrate_sell %>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>
<% end %>

