<%= simple_form_for [:admin, @trip] do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.input :title, label: '旅遊名稱', input_html: { class: 'form-control' } %>
      </div>
    </div>
  </div>
  <div class="row">
    <%= render 'common/datetimepicker' %>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.input :start_day, label: '旅遊去程時間', as: :string, input_html: { class: "datetimepicker form-control"} %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.input :end_day, label: '旅遊回程時間', as: :string, input_html: { class: "datetimepicker form-control"} %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <%= f.button :submit, "儲存", class: "btn btn-primary" , data: { disable_with: "資料送出..." } %>
    </div>
  </div>
<% end %>
