<!DOCTYPE html>
<html>
<head>
  <title>日幣匯率</title>
  <meta name="description" content="各銀行台幣兌換日幣匯率" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= analytics_init if Rails.env.production? %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'common/navbar' %>
  <div class="container">
      <%= yield %>
    </div>  
  </div>
</body>
</html>
